
 @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,900&family=Oswald&display=swap');

* {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
body{
    font-family: "Lato" , sans-serif;
    color :black;
    
    
}
.header{
    width:10000px;
    height: 300px;
    background-color:white;

}
.inner_header{
    width: max-content;
    height:60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline-start: 106px;
    background-color:white;
    border-bottom: 1px solid gray;
}
.inner_header2{
    width:max-content;
    height:45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 200 auto;
    background-color:white;
    display: flex;
    border-bottom: 1px solid gray;
    padding-inline-end: 20px;
    
}

.inner_header2 ul{
    display: flex;
    justify-content: space-between;
    padding-inline-start: 50px;
    list-style-type: none;
    padding:0;
    margin:0;
}

.inner_header2 ul li a{
    color:black;
    text-decoration: none;
}
.inner_header2 a:hover{
    border-bottom: 1.5px solid black;
    border-bottom-width: 1px;
}
.inner_header2 a{
    font-size: 13px;
    display:table;
    padding: 0 10px;
    float: right;
    color:rgb(49, 45, 45);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI',
     Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
     'Helvetica Neue', sans-serif;
     margin-right: 70px;
     padding-inline-start: 0%;
     margin-block-end: 20px;
     margin-block-start: 20px;
     
}
.search_bar{
    height: 30px;
    width:350px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    margin-left: 29px;
    align-items: center;
    padding: 20px;
    border-color: rgb(65, 63, 63);
    border-bottom: 2px solid rgb(56, 55, 55);
    
}
.search_bar > i{
    font-size: 20px;

    
}
.search_bar > input{
    flex:1;
    width: 40px;
    height:40px;
    border:none;
    outline: none;
    font-size:18px;
}
.review{
    display: flex;
    border-radius: 30px;
    margin-left: 222px;
}
.review > i{
    font-size:20px;
    align-items: center;
}
.review > a {
    text-align: center;
    font-weight: lighter;
    color:rgb(49, 45, 45);
    display: flex;
    padding-inline: 7px;
    padding-inline-end: 10px;
    margin-right: 50px;
}
h1{
    margin-left: 380px;
    margin-top: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    font
}
h6{
    margin-left:1000px;
    font-weight: lighter;
    font-style: italic;
    font-family:Arial, Helvetica, sans-serif;
    
}